body {
	background-color: gray;
	color: #1B1A17  ;
	font-size: 20px;
	font-family: 'Lora', serif;
	font-weight: 700;

}
h1{
	color: brown ;
	font-family: 'Roboto', sans-serif;
	font-weight: 900; 
	text-align: center;

	
}
h2, h3, h4, h5{
	font-size: 40px;
	color: darkblue;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}
a {
	color: brown;
	font-size: 30px;
}

img{
	width: 200px;
}
div{
	
	border: 2px solid black;
}

.img-circle {
	border-radius: 50%;

}

#Lofi-Girl{ 
	border:  5px Solid Red;

 }

#DTF{
	border: 5px solid yellow;
}

#Green-Day{
	border: 5px solid green;
}

.alignement-spotify{
	
}

.div-align{
	margin: 50px;
	padding: 50px;
	background-color: goldenrod;
	border-radius: 10px;
	box-shadow: 10px 10px 20px;
}

.img-center{
	margin-left: 50px;
}

.hoverr:hover{
	color: red;
	opacity: 1;
}


@media (max-width: 500px){
	.container{
		width: 400px;
	}
}
@media (max-width: 760px){
	.container{
		width: 600px;
	}
}